log/
model/
dataset/
*.pyc
*.idea
*.xml
*.pth
*.npe
run/
run_ETTh/
run_financial/
checkpoints/
output/
run_PEMS/
pems_checkpoint/
financial_checkpoints/
ETT_checkpoints/
exp/
sandbox/

# Exclude everything but the sample dataset directory
datasets/*
!datasets/sample
!datasets/sample/*

dist
*.egg-info

env
build

__pycache__